html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.material-icons {
  direction: ltr;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;        
  cursor: pointer;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;      
}

@mixin group-level($n) {
  padding-left: (20px * $n) + 8px;
}

.ws-grid {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  box-shadow: none;
  height: 100%;
  font-family: 'roboto';
  outline: 0;
  position: relative;
  zoom: 1;
  border-style: solid;
  border-width: 1px;
  background-clip: border-box;

  td, th {
    overflow: hidden;
    text-overflow: ellipsis;
    border-style: solid;
    padding: 4px 3px;
    border-width: 0 1px 1px 0;
    font-weight: normal;
    white-space: nowrap;
    &.selected {
      outline-width: 1px;
      outline-style: solid;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0;
    padding: 0;
    height: 14px;
  }
  input[type="file"] {
    display: block;
  }
  input[type="range"],
  input,
  input[type="text"] {
    display: inline;
    padding: 0 3px;
  }
  input[type="range"] {
    display: block;
    width: 100%;
  }
  select[multiple],
  select[size] {
    height: auto;
  }

  .group {
    height: 24px;
    font-size: 14px;
    border-right: 0;
    // display: inline-block;

    &:before {
      @extend .material-icons;
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding: 4px 8px 0 0;
    }

    &.collapsed {
      &:before {
        content: '\e148';
        // content: 'add_circle_outline';
      }
    }

    &.expanded {
      &:before {
        content: '\e15d';
        // content: 'remove_circle_outline';
      }
    }
  }

  // .group.collapsed {
  //   &:before {
  //     content: 'add_circle_outline';
  //   }
  // }

  // .group.expanded {
  //   &:before {
  //     content: 'add_circle_outline';
  //   }
  // }

  // .group.expanded {
  //   &:before {
  //     @extend .material-icons;
  //     color: darken($group-row-bk-color, 40%);
  //     margin: 0;
  //     padding: 0;
  //     padding-right: 8px;
  //     line-height: 16px;
  //     font-size-adjust: 3.5;
  //     content: 'remove_circle_outline';
  //   }
  // }

  .group.level-0 { @include group-level(0); }
  .group.level-1 { @include group-level(1); }
  .group.level-2 { @include group-level(2); }
  .group.level-3 { @include group-level(3); }
  .group.level-4 { @include group-level(4); }
  .group.level-5 { @include group-level(5); }
  .group.level-6 { @include group-level(6); }

  .top-labels {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    // text-transform: uppercase;

    table {
      margin-bottom: -1px;
    }
    tr {
      min-height: 32px;
    }

    div.sort {
      &:after {
        @extend .material-icons;
        display: inline-block;
        margin: 0;
        margin-left: 4px;
        transition: 0.2s ease-in-out;
        content: '\e5d8';
        // content: 'arrow_upward';
      }
  
      &.descending {
        &:after {
          transform: rotate(0.5turn);
        }
      }
    }

    th {
      vertical-align: middle;
      padding: 8px;
      min-height: 32px;
    }
    th:first-child {
      border-left-width: 0px;
    }
  }

  .grid-content, .left-labels {
    table {
      height: auto;
      width: 10px;
      white-space: nowrap;
    }

    td:first-child{
      border-left-width: 0;
    }
  }

  .left-labels {
    overflow: hidden;
    height: 100%;
    flex: 0 0 auto;
    td {
      outline: 0;
      font-weight: 500;
    }
  }

  .grid-content {
    flex: 1;
    height: 100%;
    overflow: auto;
  }

  td {
    vertical-align: middle;
    min-height: 28px;
    /* font-size: 1.1rem; */
  }
  td.edit > div > div > :first-child {
    flex: 1;
  }
  td.edit > div > div > div > :first-child {
    flex: 1;
  }
  td.edit {
    padding: 0;
    border: 0;
  }
  table {
    table-layout: fixed;
    margin: 0;
    padding: 1px;
    max-width: none;
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    border-width: 0;
    outline: 0;
    min-width: 100%;
    width: 100%;
  }
  thead {
    background-clip: border-box;
  }
  td, th, span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  > .grid-scroll {
    overflow: auto;
    flex: 1;
    display: flex;
    width: 100%;
  }
  .column-wrapper {
    position: relative;
    display: inline-block;
    flex: 1;
    overflow: hidden;
    border-width: 0;
  }
  .corner-labels {
    border-style: solid;
    flex: 0 0 auto;
    border-width: 0 1px 0 0;
  }
}
